[submodule "HOME/private_dot_config/dwm"]
	path = private_dot_config/dwm
	url = https://github.com/mournfully/dwm
[submodule "HOME/private_dot_local/bin"]
	path = private_dot_local/bin
	url = https://github.com/mournfully/scripts
	branch = window-manager
