[submodule "HOME/private_dot_config/dwm"]
	path = HOME/private_dot_config/dwm
	url = https://github.com/mournfully/dwm
[submodule "HOME/private_dot_config/devour"]
	path = HOME/private_dot_config/devour
	url = https://github.com/salman-abedin/devour
