if [ $(tty) = /dev/tty1 ]; then startx exit 0; fi # start wm if tty = tty1

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.config/zsh/.zshrc.
# Initialization code that may require console input (password prompts, [y/n] confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi


[ -f "${XDG_CONFIG_HOME}/zsh/.aliases" ] && source "${XDG_CONFIG_HOME}/zsh/.aliases" # Automatically load POSIX aliases
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # nvm = node version manager

xset r rate 200 25
unsetopt flowcontrol # don't automatically source shell startup config?
setopt prompt_subst # perform complex calculations in prompts
bindkey -e # disable default vi keybindings
eval "$(jump shell)" # https://github.com/gsamokovarov/jump

source /home/local/.config/zsh/.keybindings # autoload zkbd ; zkbd
[[ -n "${key[Home]}"      ]] && bindkey -- "${key[Home]}"       beginning-of-line
[[ -n "${key[End]}"       ]] && bindkey -- "${key[End]}"        end-of-line
[[ -n "${key[Insert]}"    ]] && bindkey -- "${key[Insert]}"     overwrite-mode
[[ -n "${key[Backspace]}" ]] && bindkey -- "${key[Backspace]}"  backward-delete-char
[[ -n "${key[Delete]}"    ]] && bindkey -- "${key[Delete]}"     delete-char
[[ -n "${key[PageUp]}"    ]] && bindkey -- "${key[PageUp]}"     beginning-of-buffer-or-history
[[ -n "${key[PageDown]}"  ]] && bindkey -- "${key[PageDown]}"   end-of-buffer-or-history

key[Shift-Tab]="${terminfo[kcbt]}"
[[ -n "${key[Shift-Tab]}" ]] && bindkey -- "${key[Shift-Tab]}"  reverse-menu-complete

[[ -n "${key[Control-Left]}"  ]] && bindkey -- "${key[Control-Left]}"  backward-word
[[ -n "${key[Control-Right]}" ]] && bindkey -- "${key[Control-Right]}" forward-word

unsetopt menu_complete # on ambiguous completion, don't insert first match...
setopt auto_menu # ...instead automatically list possible completions 
setopt complete_in_word # request completion from anywhere in word
setopt always_to_end # move cursor to end of word after completion

{{ if eq .osid "linux-void" }}
fpath=(/usr/share/zsh/site-functions/ $fpath)
{{- else if eq .osid "linux-elementary" -}}
fpath=( ~/.config/zsh/zsh-completions/src/ $fpath)
{{- end }}
autoload -U compinit # force rebuild zcompdump cache for zsh-completions
compinit
zstyle ':completion:*' menu select



HISTSIZE=10000
SAVEHIST=10000
[ ! -d "~/.cache/zsh/" ] && mkdir -p ~/.cache/zsh/
HISTFILE=~/.cache/zsh/history

setopt append_history # all zsh sessions will append not overwrite to hist
setopt extended_history # log timestamps and command durations per event
setopt hist_expire_dups_first # trim oldest duplicate events first
setopt hist_ignore_dups # ignore duplicate consecutive events
setopt hist_ignore_space # ignore commands starting with a " "?
setopt hist_verify # ask for confirmation before "$(!!)"
setopt inc_append_history # append to hist after every command 
setopt share_history # share hist between zsh sessions



# sudo xbps-install -S zsh zsh-autosuggestions zsh-syntax-highlighting zsh-completions
# ln -s /usr/share/zsh/plugins/* ~/.config/zsh/
# git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ~/.config/zsh/powerlevel10k

# git clone --depth=1 https://github.com/zsh-users/zsh-completions.git ~/.config/zsh/zsh-completions
# git clone --depth=1 https://github.com/zsh-users/zsh-syntax-highlighting.git ~/.config/zsh/zsh-syntax-highlighting
# git clone --depth=1 https://github.com/zsh-users/zsh-autosuggestions ~/.config/zsh/zsh-autosuggestions

source ~/.config/zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.plugin.zsh
source ~/.config/zsh/zsh-autosuggestions/zsh-autosuggestions.plugin.zsh
ZSH_AUTOSUGGEST_STRATEGY=(history completion)

source ~/.config/zsh/powerlevel10k/powerlevel10k.zsh-theme
# To customize: run `p10k configure` or edit ~/.config/zsh/.p10k.zsh.
[ -f "${XDG_CONFIG_HOME}/zsh/.p10k.zsh" ] && source "${XDG_CONFIG_HOME}/zsh/.p10k.zsh"


# the following was never reimplemented from ~/.bashrc
# export $(dbus-launch)

# To customize prompt, run `p10k configure` or edit ~/.config/zsh/.p10k.zsh.
[[ ! -f ~/.config/zsh/.p10k.zsh ]] || source ~/.config/zsh/.p10k.zsh

