#!/bin/sh

# aliases for standard commands 
alias cp="cp -iv" # interactive and verbose
alias mv="mv -iv" # ^
alias rm="rm -vI" # verbose and less instrusive prompts
alias df='df -h'  # less verbose
alias grep='grep --color=auto'
alias ls="ls -hN --color=auto --group-directories-first"

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
{{- if eq .osid "linux-elementary" }}
# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'
{{- end }}

alias wget="wget -c" # resume download if interupted
alias update-grub="sudo grub-mkconfig -o /boot/grub/grub.cfg" 
alias tp="trash-put"
alias tpr="trash-restore"
 
# application based aliases
alias v="$EDITOR"
alias vim="$EDITOR"
alias z="zathura"
{{- if eq .osid "linux-void" }}
alias code="code-oss"
{{- end }}

# personal aliases
alias size="du -hs" 
{{- if eq .osid "linux-void" }}
alias color="find-color-code.sh --no-preview --stdout" # also accepts flag: --rgb 
alias cdwm="sudo rm config.h && sudo make clean install"  # for dmenu as well
alias ckeyd="sudo sv restart keyd && sleep 5 && xset r rate 200 25"
{{- end }}

# git related aliases
# see https://github.com/ericmurphyxyz/dotfiles/blob/master/.config/shell/aliases
alias g="git"
alias gs="git status"
alias gc="git commit"
alias gca="git commit --amend"
alias ga="git add"
alias gpl="git pull"
alias gpom="git pull origin master"
alias gp="git push"
alias gpuom="git push origin master"
alias gd="git diff"
alias gch="git checkout"
alias gnb="git checkout -b"
alias gac="git add . && git commit"
alias grs="git restore --staged ."
alias gre="git restore"
alias gr="git remote"
alias gcl="git clone"
alias glg="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"
alias gl="git log --oneline"
alias gt="git ls-tree -r master --name-only"
alias grm="git remote"
alias gb="git branch"
alias gf="git fetch"

