lua require('plugins')

set tabstop=2
set softtabstop=0 noexpandtab
set shiftwidth=2
set mouse=a
set ttyfast

" random bullshit, go!
set clipboard=unnamedplus
nnoremap <M-z> :set wrap!<CR>
let g:better_escape_shortcut = 'jk'
let g:better_escape_interval = 150
au FileType * set fo-=c fo-=r fo-=o

" configure aesthetics
syntax on
colorscheme tokyodark
hi Normal guibg=NONE ctermbg=NONE
set background=dark
set number 
set relativenumber 
set linebreak
set spell spelllang=en_ca

let g:lightline = {'colorscheme' : 'tokyonight'}
set laststatus=2
 
" support true colour
execute "set t_8f=\e[38;2;%lu;%lu;%lum"
execute "set t_8b=\e[48;2;%lu;%lu;%lum"
if (has("termguicolors"))
  set termguicolors
endif

" fzf search
nnoremap <C-p> :Files<CR>
nnoremap <C-f> :BLines<CR>
nnoremap <C-g> :GFiles<CR>

{{- if .nvimcoc }}
" completions
set updatetime=300 " reduce update delay
set signcolumn=yes " always show column to not shift popup 
let g:coc_global_extensions = [
  \ 'coc-snippets',
  \ 'coc-tsserver',
  \ 'coc-go',
  \ 'coc-sh',
  \ 'coc-markdownlint',
  \ ]
" use <tab> to trigger completion and navigate to the next complete item
function! CheckBackspace() abort
  let col = col('.') - 1
  return !col || getline('.')[col - 1]  =~# '\s'
endfunction

inoremap <silent><expr> <Tab>
      \ coc#pum#visible() ? coc#pum#next(1) :
      \ CheckBackspace() ? "\<Tab>" :
      \ coc#refresh()
{{- end }}

function! s:DiffWithSaved()
  let filetype=&ft
  diffthis
  vnew | r # | normal! 1Gdd
  diffthis
  exe "setlocal bt=nofile bh=wipe nobl noswf ro ft=" . filetype
endfunction
com! DiffSaved call s:DiffWithSaved()

